{% extends 'layouts/base.html' %}
{% block title %}子テンプレートのタイトル{% endblock %}
{% block content %}
<div class="flex" style="height:100vh; align-items:center;">
    <div class="mx-2">
        <a href="{% url 'users/signup' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">一般ユーザー</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'admin/signup' %}" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">管理者ユーザー</a>
    </div>
</div>
{% endblock %}