<html>

<head>
    <meta charset='utf-8' />
</head>

<body>
    {% if messages %}
    <ul class="messages_ul">
      {% for message in messages %}
        <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
</ul>
<div class="flex">
    <form method="POST">
        {% csrf_token %}
        <!-- フォームクラスの入力項目を表示 -->
        {{ form }}
        <button type="submit">Submit</button>
        <!-- {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %} -->
        {% for key, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>
<div class="flex">
    <a href="{% url 'users/signup' %}">ADMIN</a>
</div>
</body>

</html>