{% extends 'layouts/base.html' %}
{% block title %}新規チャット作成{% endblock %}
{% block content %}
<div class="container my-3">
    {% if persona_list %}
    <ul class="messages_ul">
    {% for message in persona_list %}
        <li>{{ message.persona }}</li>
    {% endfor %}
    </ul>
    {% endif %}

  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div>
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">新規チャット登録</h2>
      </div>
      <div class="mt-6 sm:mx-auto sm:w-full">
        {% if messages %}
            <ul class="messages red">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form class="space-y-6" method="POST"> 
          {% csrf_token %}
          <div>
              <label for="id_first_name">テーマ（タイトル）:</label>
              <input type="text" name="first_name" maxlength="100" required="" id="id_first_name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="例：今日の天気について">
              <div class="red">{{ form.first_name.errors }}</div>
          </div>
          <div class="mt-6">
              <label for="id_last_name">ペルソナ:</label>
              <select class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option selected>選択してください</option>
                {% for persona in persona_list %}
                <option value="{{ persona.id }}">{{ persona.persona }}</option>
                {% endfor %}
              </select>
              <div class="red">{{ form.last_name.errors }}</div>
          </div>
          <div class="mt-6">
              <label for="id_email">チャット本文:</label>
              <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="例：午後からの予報は？"></textarea>
              <div class="red">{{ form.email.errors }}</div>
          </div>
    
          <div class="mt-5">
              <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">送信</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}